<!DOCTYPE html>
<html  lang='en'>
<style>
    /* body {
        background-image: url('pexels-photo-777001.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    } */
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg " style=" background-color:#0c605c">
        <div class="container-fluid " >
            <img src="{%static 'images/logo1.png'%}" alt="" style="width:5%;" class="mx-5">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto ">
                    <a href="/home" class="nav-link mx-4   active" aria-current="page" href="#" style="color:#d1eccc; font-weight: bold;">Home</a>
                    <a href="/pc"class="nav-link mx-4  " href="#"  style="color:#d1eccc; font-weight: bold;">pc</a>
                    <a href="/phones"class="nav-link mx-4  " href="#" style="color:#d1eccc; font-weight: bold;">Phones</a>
                    <a href="/electronicTool" class="nav-link mx-4   "  style="color:#d1eccc; font-weight: bold;">Electronic Accessories </a>
                </div>
                <a href="/reg"> <button type="button" class="btn btn-light">sign up</button></a>
                <a href="/login"> <button type="button" class="btn btn-light ms-2 me-5">sign in</button></a>
            </div>
        </div>
    </nav>

    <div id="carouselExampleCaptions" class="carousel slide container container w-50 mt-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/pc"><img src="{% static 'images/pc.jpeg'%}" class="d-block w-100" alt="pc img"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>أجهزة الكمبيوتر </h5>
                    <p>جميع اجهزه الكمبيوتر</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="/phones"><img src="{% static 'images/phones.jpeg'%}" class="d-block w-100" alt="phone img"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-dark">الهواتف</h5>
                    <p class="text-dark budj">احدث الهواتف بارخص الاسعار</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="/electronicTool"><img src="{% static 'images/accsories.jpg'%}" class="d-block w-100" style="height: 410px;" alt="exssoris"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>ملحقات الهواتف واجهزه الكمبيوتر</h5>
                    <p>جميع الملحقات الاكترونيه بارخص الاسعار</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>