<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .card:hover {
            transform: scale(1.2);
        }

        .card {
            transition: transform .5s;
            text-decoration: none;
        }
        .card a{
            text-decoration: none;
        }
    </style>

</head>

<body class="bg-light bg-gradient">
    <nav class="navbar navbar-expand-lg " style=" background-color:#0c605c">
        <div class="container-fluid " >
            <img src="{%static 'images/logo1.png'%}" alt="" style="width:5%;" class="mx-5">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto ">
                    <a href="/home" class="nav-link mx-4   active" aria-current="page" href="#" style="color:#d1eccc; font-weight: bold;">Home</a>
                    <a href="/pc"class="nav-link mx-4  " href="#"  style="color:#d1eccc; font-weight: bold;">pc</a>
                    <a href="/phones"class="nav-link mx-4  " href="#" style="color:#d1eccc; font-weight: bold;">Phones</a>
                    <a href="/electronicTool" class="nav-link mx-4   "  style="color:#d1eccc; font-weight: bold;">Electronic Accessories </a>
                </div>
                {%if user%}
                <p style="color:#d1eccc;" class="me-2 my-auto">{{user.first_name}} {{user.last_name}}</p>
                <a href="/LOGOUT"> <button type="button" class="btn btn-light">logout</button></a>
                {%else%}
                <a href="/reg"> <button type="button" class="btn btn-light">sign up</button></a>
                <a href="/login"> <button type="button" class="btn btn-light ms-2 me-5">sign in</button></a>
                {%endif%}
            </div>
        </div>
    </nav>
    <div class=" container row justify-content-evenly my-5">
        <a href="/show" class="card text-bg-light mb-1 m-4 col-3" style="width: 12rem;border: 1.5px solid #0c605c;">
            <img src="{%static 'images/phone-1.jpg'%}" class="card-img-top " alt="pc" style="width: 70%">
            <div class="card-body">
                
                <p class="card-text">name of product:model.</p>
                
            </div>
        </a>
        <a href="/show" class="card text-bg-light mb-1 m-4 col-3 " style="width: 12rem; border: 1.5px solid #0c605c;">
            <img src="{%static 'images/phone-1.jpg'%}" class="card-img-top " alt="pc" style="width: 70%;">
            <div class="card-body">
                
                <p class="card-text">name of product :model.</p>
                
            </div>
        </a>
        <a href="/show" class="card text-bg-light mb-1 m-4 col-3 " style="width: 12rem;  border: 1.5px solid #0c605c;">
            <img src="{%static 'images/phone-1.jpg'%}" class="card-img-top " alt="pc" style="width: 70%;">
            <div class="card-body">
                
                <p class="card-text">name of product:model.</p>
                
            </div>
        </a>
        <a href="/show" class="card text-bg-light mb-1 m-4 col-3 " style="width: 12rem; border: 1.5px solid #0c605c;">
            <img src="{%static 'images/phone-1.jpg'%}" class="card-img-top  " alt="pc" style="width: 70%;">
            <div class="card-body">
                
                <p class="card-text">name of product :model.</p>
                
            </div>
        </a>
        <a href="/show" class="card text-bg-light mb-1 m-4 col-3 " style="width: 12rem; border: 1.5px solid #0c605c;">
            <img src="{%static 'images/phone-1.jpg'%}" class="card-img-top  " alt="pc" style="width: 70%;">
            <div class="card-body">
                
                <p class="card-text">name of product :model.</p>
                
            </div>
        </a>
        <a href="/show" class="card text-bg-light mb-1 m-4 col-3 " style="width: 12rem; border: 1.5px solid #0c605c;">
            <img src="{%static 'images/phone-1.jpg'%}" class="card-img-top  " alt="pc" style="width: 70%;">
            <div class="card-body">
                
                <p class="card-text">name of product :model.</p>
                
            </div>
        </a>
        <a href="/show" class="card text-bg-light mb-1 m-4 col-3 " style="width: 12rem; border: 1.5px solid #0c605c;">
            <img src="{%static 'images/phone-1.jpg'%}" class="card-img-top  " alt="pc" style="width: 70%;">
            <div class="card-body">
                
                <p class="card-text">name of product :model.</p>
                
            </div>
        </a>
        <a href="/show" class="card text-bg-light mb-1 m-4 col-3 " style="width: 12rem; border: 1.5px solid #0c605c;">
            <img src="{%static 'images/phone-1.jpg'%}" class="card-img-top  " alt="pc" style="width: 70%;">
            <div class="card-body">
                
                <p class="card-text">name of product :model.</p>
                
            </div>
        </a>
    </div>

</body>

</html>